# Default values for ld-relay.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  pullPolicy: IfNotPresent
  repository: launchdarkly/ld-relay
  tag: v5

nameOverride: "ld-relay"
fullnameOverride: "chart-ld-relay"

ldProdKey: <<enter your key here>>
ldTestKey: <<enter your key here>>

env: {}
# env overrides
# https://github.com/launchdarkly/ld-relay#docker-environment-variables

prometheus:
  enabled: true
  port: 9253
  serviceMonitor:
    enabled: true
    interval: 30s

service:
  type: ClusterIP
  port: 8030

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

### redis backend store config ###
# https://github.com/helm/charts/blob/master/stable/redis/values.yaml
redis:
  enabled: true

  # you can influence the redis chart also which is a dependency
  cluster:
    enabled: false
    slaveCount: 1

  serviceAccount:
    create: false

  rbac:
    create: false

  usePassword: false

  master:
    persistence:
      enabled: true
    affinity: {}
    tolerations: []

  slave:
    affinity: {}
    tolerations: []

  metrics:
    enabled: false

    serviceMonitor:
      enabled: false
      selector:
        prometheus: kube-prometheus
